<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text ...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h1>Example heading
        <span class="badge badge-secondary">New</span>
      </h1>
    </div>
  </div>
</div>


<!-- Button to Open the Modal -->




 <!--

Usage:

  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Small switch</label>
  </span>
  
Notes:

 - The label must directly proceed input
 - The input must have an id
 - The label must have for="<id>"

-->

<!-- Small switch -->
<div class="form-group">  
  <span class="switch switch-sm">
    <input type="checkbox" class="switch" id="switch-sm">
    <label for="switch-sm">Small switch</label>
  </span>
</div>

<!-- Normal switch -->
<div class="form-group">
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-normal">
    <label for="switch-normal">Normal switch</label>
  </span>
</div>

<!-- Large switch -->
<div class="form-group">
  <span class="switch switch-lg">
    <input type="checkbox" class="switch" id="switch-lg">
    <label for="switch-lg">Large switch</label>
  </span>
</div>
<app-test></app-test>