$base-theme:Bootstrap;
$skin-name:brand2018;
$accent: #84329b;
$secondary: #02bceb;

$series-f: #d9534f;

// Automatically mapped to Bootstrap
$theme-colors: (
     "primary": $accent,
     "secondary": $secondary
   );